@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: calc(100vh - 60px - 56px);
}

@media screen and (max-width: 576px) {
    main {
        min-height: calc(100vh - 92px - 56px);
    }
}