---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - About Us";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"About Us"} />
    <div class="bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4 text-black">
      <p>This section will be dedicated to the history of the Plate Cove Trail Blazers and their involvment in the community.</p>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aperiam praesentium laborum, maiores suscipit dignissimos 
        quisquam veniam quos voluptatibus veritatis, similique perferendis placeat voluptatem, debitis fugit impedit sint? Inventore nostrum 
        officiis sunt nemo. Provident odit harum fugiat delectus nostrum. Aliquam vitae, itaque aspernatur nesciunt enim quis libero incidunt ipsa 
        laboriosam veritatis deserunt. Libero delectus consequatur debitis blanditiis iste provident sunt tempore nostrum officia reiciendis quis, 
        sit obcaecati praesentium hic perspiciatis omnis a facilis unde id, odit quae in distinctio iure. Quaerat optio et quam, perspiciatis molestias 
        dolor dolore suscipit nesciunt magni quibusdam facilis similique veritatis quod deleniti atque dignissimos sed!
      </p>
      <br>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae modi aliquam deserunt et consequuntur consectetur dolorum repellendus! 
        Tempora laudantium voluptatibus architecto sint cum exercitationem iste provident fugiat cupiditate dolor odio amet ipsa nisi vero consequatur 
        mollitia aliquid, ipsam, nemo magni reprehenderit blanditiis illo. Exercitationem repellendus ex in omnis itaque cupiditate molestiae, 
        hic provident sapiente nam libero laudantium et labore error sint totam dolore iusto numquam reprehenderit ipsum explicabo ipsa? Dolor 
        cum necessitatibus dolores soluta possimus eius eaque, excepturi quam molestias! Necessitatibus eligendi cupiditate labore ab magni amet 
        odio accusantium non possimus? Voluptas, dicta corporis placeat ipsum consequatur, maxime adipisci dolorum suscipit vero ex provident 
        dignissimos saepe illum, ipsam nesciunt repellat architecto fuga labore delectus sequi! Eligendi sequi doloribus quaerat totam, error 
        impedit quo laudantium similique et cumque suscipit provident sunt fuga, voluptatum exercitationem. Velit ea rerum odio sequi repellat 
        quidem delectus sapiente voluptatum enim sint! Et explicabo consequuntur iure inventore, nam modi dicta? Et officia molestiae at non 
        ratione doloribus harum explicabo delectus sequi itaque laboriosam quis odit unde, sed voluptates dolorem. Enim consequuntur dolores 
        dolorem ut unde sunt aliquam error, tempora inventore sapiente? Architecto sint sapiente voluptas dignissimos perspiciatis! Provident 
        necessitatibus qui eos omnis quod quia neque ipsam, harum accusamus itaque sapiente repellat fuga corporis quis ut dignissimos facilis 
        tenetur atque fugiat. Tenetur ullam fugiat id totam dicta in accusantium, consectetur reprehenderit odio, deserunt, eaque laudantium minima 
        facere expedita consequatur possimus non esse illum? Id commodi consequatur magni atque cupiditate quibusdam consequuntur nulla. Repellendus 
        qui impedit reprehenderit doloribus tempora.
      </p>
      <br>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae modi aliquam deserunt et consequuntur consectetur dolorum repellendus! 
        Tempora laudantium voluptatibus architecto sint cum exercitationem iste provident fugiat cupiditate dolor odio amet ipsa nisi vero consequatur 
        mollitia aliquid, ipsam, nemo magni reprehenderit blanditiis illo. Exercitationem repellendus ex in omnis itaque cupiditate molestiae, 
        hic provident sapiente nam libero laudantium et labore error sint totam dolore iusto numquam reprehenderit ipsum explicabo ipsa? Dolor 
        cum necessitatibus dolores soluta possimus eius eaque, excepturi quam molestias! Necessitatibus eligendi cupiditate labore ab magni amet 
        odio accusantium non possimus? Voluptas, dicta corporis placeat ipsum consequatur, maxime adipisci dolorum suscipit vero ex provident 
        dignissimos saepe illum, ipsam nesciunt repellat architecto fuga labore delectus sequi! Eligendi sequi doloribus quaerat totam, error 
        impedit quo laudantium similique et cumque suscipit provident sunt fuga, voluptatum exercitationem. Velit ea rerum odio sequi repellat 
        quidem delectus sapiente voluptatum enim sint! Et explicabo consequuntur iure inventore, nam modi dicta? Et officia molestiae at non 
        ratione doloribus harum explicabo delectus sequi itaque laboriosam quis odit unde, sed voluptates dolorem. Enim consequuntur dolores 
        dolorem ut unde sunt aliquam error, tempora inventore sapiente? Architecto sint sapiente voluptas dignissimos perspiciatis! Provident 
        necessitatibus qui eos omnis quod quia neque ipsam, harum accusamus itaque sapiente repellat fuga corporis quis ut dignissimos facilis 
        tenetur atque fugiat. Tenetur ullam fugiat id totam dicta in accusantium, consectetur reprehenderit odio, deserunt, eaque laudantium minima 
        facere expedita consequatur possimus non esse illum? Id commodi consequatur magni atque cupiditate quibusdam consequuntur nulla. Repellendus 
        qui impedit reprehenderit doloribus tempora.
      </p>
    </div>
  </main>
</MainLayout>
