---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - About Us";
import "../styles/styles.css";
import About from "../components/About.astro";
---


<MainLayout title={title}>
  <main>
    <About />
  </main>
</MainLayout>
