---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - About Us";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
---


<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"About Us"} />
  </main>
</MainLayout>
