---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Antis of Plate Cove";
import "../styles/styles.css";
import AntisArticle from "../components/AntisArticle.astro";
import HeroBanner from "../components/HeroBanner.astro";
import heroImage from "../assets/hero_images/view4.jpg";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={heroImage} />
    <section class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">The Antis of Plate Cove</h2>
        <p>
          Newfoundland joined the Canadian confederation in 1949. The referendum was decided by a one percent margin.  
          But 1949 was not the first time that Newfoundlanders had discussed or fought over confederation.
        <br><br>
          In 1869, Newfoundlanders voted in a general election to not join Canada.  The two sides in the debate fired insults back and forth and the “No” side, 
          the Anti-Confederates, waged a war of negative publicity that would be the envy of current political parties.  The declared that :Newfoundland children 
          would be drafted into the Canadian Army and die to be left unburied in distant sandy, dry Canadian deserts.”  There was also quite evident an amount of 
          anti-French sentiment.
        <br><br>
          In 1868, a local song written by Mark Walker summed up all the No arguments.  It was called the Antis of Plate Cove.
        <br><br>
          The song is rife with terminology that expressed the Anti's ferocity on the issue. Take for example the phrase “The flag of cursed Confederation…”. 
          The use of the term “Touters” in the final stanza refers to persons sent by the government to spy on the Antis and to to try to force them into changing their vote.
          And were lots of “moneyed” people involved in the Anti movement.
        </p>
        <br>
        <AntisArticle />
    </section>
  </main>
</MainLayout>