---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Contact Us";
import "../styles/styles.css";
import View from "../assets/hero_images/view2.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Contact Us"} />
  </main>
</MainLayout>