---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Contact Us";
import "../styles/styles.css";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Contact Us Section Here!</h2>
  </main>
</MainLayout>