---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Folklore";
import "../styles/styles.css";
import heroImage from "../assets/hero_images/view7.jpeg";
import Accordion from "../components/Accordion.astro";
import jiggsDinnerImage from "../assets/other_photos/jiggsDinner.png";
import sheilasBushImage from "../assets/other_photos/sheilasBrush.png";
---

<MainLayout title={title} backgroundImage={heroImage}>
  <main>
    <section class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">Newfoundland Traditions & Folklore</h2>
      <Accordion 
        headingText={"Jiggs Dinner"} 
      >
        <p class="text-md">
          According to urban legend, there are more than a few origin stories for the name "Jiggs Dinner". Once legend recalls the Newfoundlanders' adoration of a kitchen
          party and that they all love to dance and do a jig in the kitchen supposedly while the pot is on the boil.
          <img src={jiggsDinnerImage} class="float-right rounded m-4" />
          Another recalls that the salt beef, the most necessary item in the pot, was imported from New York by a company called Jiggs. One more suggests the way you would
          extract those boiled vegtables and bag of pease pudding out of the pot is reminiscent of jiggging a codfish.
          While the name "Jiggs Dinner" didn't come around until the turn of the 20<sup>th.</sup> century. It's components have long been part of the Newfoundland
          and Labrador culinary cannon.
        </p>
      </Accordion>
      <Accordion
        headingText={"Mummering"}
      >
        <p class="text-md">The content will be here</p>
      </Accordion>
      <Accordion
        headingText={"Tibs' Eve"}
      >
        <p class="text-md">The content will be here</p>
      </Accordion>
      <Accordion
        headingText={"St. Patrick's Day"}
      >
        <p class="text-md">The content will be here</p>
      </Accordion>
      <Accordion
        headingText={"Sheila's Brush"}
      >
        <p class="text-md">
          If you live in Newfoundland, Sheila's Brush needs zero explanation. It is a storm, usually a big storm that occurs on or after St. Patrick's Day.
          It is typically the last big storm of the season.
          <img src={sheilasBushImage} class="float-right rounded m-4" />
          But who is Sheila? The term comes from an Irish legend that says that Sheila was the wife
          or sister or mother of St. Patrick and that the snow is a result of her sweeping away the old season, which is fitting since Spring begins later the week.
          There is also a legend that Sheila shows up to punish Newfoundlanders for the heavy partying that happens on St. Patrick's Day.
          <br><br>
          Do you believe in Sheila's Brush?.....
        </p>
      </Accordion>
      <Accordion
        headingText={"In like a lion out like a lamb"}
      >
        <p class="text-md">The content will be here</p>
      </Accordion>
    </section>
  </main>
</MainLayout>