---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Folklore";
import "../styles/styles.css";
import heroImage from "../assets/hero_images/view7.jpeg";
import Accordion from "../components/Accordion.astro";
---

<MainLayout title={title} backgroundImage={heroImage}>
  <main>
    <section class="bg-white my-6 rounded-lg border-[1px] border-gray-300 mx-4 text-black">
      <h2 class="text-xl font-semibold mb-2 p-4">Newfoundland Traditions & Folklore</h2>
      <div class="mx-0 [&>*:last-child]:border-none">
        <Accordion 
          headingText={"Jiggs Dinner"} 
        >
          <p class="text-md">
            According to urban legend, there are more than a few origin stories for the name "Jiggs Dinner". Once legend recalls the Newfoundlanders' adoration of a kitchen
            party and that they all love to dance and do a jig in the kitchen supposedly while the pot is on the boil.
            Another recalls that the salt beef, the most necessary item in the pot, was imported from New York by a company called Jiggs. One more suggests the way you would
            extract those boiled vegtables and bag of pease pudding out of the pot is reminiscent of jigging a codfish.
            While the name "Jiggs Dinner" didn't come around until the turn of the 20<sup>th.</sup> century. It's components have long been part of the Newfoundland
            and Labrador culinary cannon.
            <br><br>
            The meal most typically consists of salt beef (or salt riblets), boiled together with potatoes, carrot, cabbage, turnip, and greens. 
            Pease pudding and figgy duff are cooked in pudding bags immersed in the rich broth that the meat and vegetables create. 
            Condiments are likely to include mustard pickles, pickled beets, cranberry sauce, butter, and a thin gravy made from the cooking broth.
            The leftover vegetables from a Jiggs dinner are often mixed into a pan and fried to make a dish known as "cabbage hash" or "corned beef and cabbage hash", 
            much like bubble and squeak.
          </p>
        </Accordion>
        <Accordion
          headingText={"Mummering"}
        >
          <p class="text-md">
            Mummering is a Christmas-time house-visiting tradition practised in Newfoundland and Labrador, Ireland, City of Philadelphia, and parts of the United Kingdom.
            <br><br>
            An old Christmas custom from England and Ireland, mummering in a version of its modern form can be traced back in Newfoundland into the 19th century. 
            Although it is unclear precisely when this tradition was brought to Newfoundland by the English and Irish, the earliest record dates back to 1819.
            Some state that the tradition was brought to Newfoundland by Irish immigrants from County Wexford. The tradition varied, and continues to vary, 
            from community to community. Some formal aspects of the tradition, such as the mummers play, have largely died out, with the informal house-visiting 
            remaining the predominant form.
            <br><br>
            On June 25, 1861, an <i>"Act to make further provisions for the prevention of Nuisances"</i> was introduced in response to the death of Isaac Mercer in Bay Roberts. 
            Mercer had been murdered by a group of masked mummers on December 28, 1860.[6] The Bill made it illegal to wear a disguise in public without permission of the
            local magistrate. Mummering in rural communities continued despite the passage of the Bill, although the practice did die out in larger towns and cities.
            In the 1980s, mummering experienced a revival, thanks to the locally popular musical duo Simani, who wrote and recorded <i>"Any Mummers Allowed In?"</i> 
            (commonly referred to as "The Mummer's Song") in 1982. Folklorist Dr. Joy Fraser has noted that, "in common with many other folk revivals,
            the resurgence of Christmas mummering in Newfoundland is largely based on a selective and idealised conceptualisation of the custom.
            <br><br>
            As part of this revival, one particular form of mummering - the informal house-visit described above - has come to represent the custom in 
            Newfoundland as a whole, while other forms that were equally prominent in the island's cultural history have received comparatively little attention.
            In 2009, the Heritage Foundation of Newfoundland and Labrador's Intangible Cultural Heritage office established what would become an annual Mummers Festival, 
            culminating in a Mummers Parade in St. John's. The success of the festival has influenced, in part, another revitalization and increase 
            of interest in the tradition in the province.
          </p>
        </Accordion>
        <Accordion
          headingText={"Tibs' Eve"}
        >
          <p class="text-md">Tibb's Eve, Tip's Eve, Tipp's Eve, or Tipsy Eve are regional variations used throughout Newfoundland and Labrador to describe 
            the same celebration. Eventually, proverbial explanations arose as to when this non-existent Tibs Eve was: "Neither before nor after Christmas" was one. 
            "Between the old year and the new" was another. Thus, the day became associated with the Christmas season.
            Sometime around World War II, people along the south coast of Newfoundland began to associate 23 December with the phrase 'Tibb's Eve' and deemed 
            it the first night during Advent when it was appropriate to have a drink. Advent was a sober, religious time of year and traditionally people would 
            not drink alcohol until Christmas Day at the earliest. Tibb's Eve emerged as an excuse to imbibe two days earlier.
            For some people, Tib's Eve is the beginning of the Christmas season. Observed on December 23rd and sometimes called Tip's Eve or Tipsy Eve, 
            it's one of several extensions of the holidays. For many Newfoundlanders, this day is the official opening of Christmas, the first chance 
            to drink the Christmas stash. The date of Tib's Eve is only known in Newfoundland.
            The tradition of celebrating Tibb's Eve may be similar to 19th century workers taking Saint Monday off from work.
          </p>
          <br>
          <p>
            An outport tradition not originally celebrated in St. John's, Tibb's Eve was adopted circa 2010 by local bar owners, who saw it as a business opportunity.
            Brewery taproom owners have suggested that hosting Tibb's Eve events allow them to open up "Newfoundland experiences to outsiders. 
            "The informal holiday has been also used for fundraising efforts, including the "Shine Your Light on Tibb's Eve" fundraiser for the St. John's Women's Centre, 
            first organized circa 2009 in St. John's, and Tibb's Eve charity drives organized by the Masons in Grand Bank, NL.
            Since then, social media and expatriate Newfoundlanders have spread the tradition to other parts of Canada, such as Halifax, Nova Scotia and Toronto, Ontario.
            In 2014, Grande Prairie Golf and Country Club in Alberta hosted a Newfoundland-themed Tibb's Eve event, in support of local charities. 
            In 2016, Folly Brewpub in Toronto brewed its own "Tibb's Eve" spiced ale. In 2019, comedian Colin Hollett described the holiday this way for a Halifax 
            <i>"Tibb's Eve on December 23, when people drink and eat at kitchen parties and bars with all the people they want to celebrate with before spending 
            time with those they have to. I have no idea how that isn't huge everywhere else."</i>
            The concept of the day being the "official" start of the Christmas holiday season was promoted in local media by 2020.
            In 2021, several Newfoundland bars hosted Tibb's Eve ugly Christmas sweater events,[29] while Port Rexton Brewery produced a "Tibbs the Saison" beer.
          </p>
        </Accordion>
        <Accordion
          headingText={"St. Patrick's Day"}
        >
          <p class="text-md">The content will be here</p>
        </Accordion>
        <Accordion
          headingText={"Sheila's Brush"}
        >
          <p class="text-md">
            If you live in Newfoundland, Sheila's Brush needs zero explanation. It is a storm, usually a big storm that occurs on or after St. Patrick's Day.
            It is typically the last big storm of the season.
            But who is Sheila? The term comes from an Irish legend that says that Sheila was the wife
            or sister or mother of St. Patrick and that the snow is a result of her sweeping away the old season, which is fitting since Spring begins later the week.
            There is also a legend that Sheila shows up to punish Newfoundlanders for the heavy partying that happens on St. Patrick's Day.
            <br><br>
            Do you believe in Sheila's Brush?.....
          </p>
        </Accordion>
      </div>
    </section>
  </main>
</MainLayout>