---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - History";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
import AntisOfPlateCove from "../components/AntisPlateCove.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"History"} />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 text-black">
      <div class=" bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4">
        <h2 class="text-xl font-semibold mb-2">Plate Cove West</h2>
        <p>
          Plate Cove West is a village on the Bonavista Peninsula of Newfoundland, Canada. It borders Plate Cove East and is located about 30 km west of Catalina. 
          The population in this unincorporated community was 174 residents as of 2010. Most residents are employed by the local fish plant or as fishermen. 
          The most common family names in the community are Furlong, Philpott, Keough, Fennell and Walsh.
        </p>
        <br>
        <p>
          The first postmistress was Catherine Jane Walsh. It is rumored that the harbour is shaped like a dinner bowl or plate, giving it the name of 'Plate Cove.' 
          In the small village there is only one store, 'Fennell's Atlantic Grocery,' and a fish plant 'Furlong Brothers Ltd.'
          Plate Cove is known for its annual St. Patrick's Day concert presented at the local community center, located between the east and west side of the harbour. 
          This event is organized by locals and includes skits and songs for all to enjoy.
        </p>
      </div>
      <div class=" bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4">
        <h2 class="text-xl font-semibold mb-2">Plate Cove East</h2>
        <p>
          Plate Cove East is a small community located in Bonavista Bay, Newfoundland and Labrador. It is part of the federal electoral riding of 
          Bonavista—Gander—Grand Falls—Windsor. It was officially a town from 1960 until 2004. In 1966 it had a population of 237. In 2011 there 
          were 89 inhabitants. The town has a primarily Catholic population with some Anglicans. Some of the industries in the community include fishing and farming.
        </p>
        <br>
        <p>
          There is a fishery nearby in Plate Cove West. This little village has a large number of families named Philpott, or Philpot. 
          A common family name found in Plate Cove West, Newfoundland and Labrador is Keough. The Keoughs are distant relatives of the Philpotts. 
          There are also a number of Dooleys, Russells and Murphys. Plate Cove East is also the repository of a number of unique folk songs. 
          Many of these songs were collected in the 1970s. A come home year was set for July 2012.
        </p>
      </div>
    </div>
    <AntisOfPlateCove />
  </main>
</MainLayout>
