---
import MainLayout from "../layout/MainLayout.astro";
import WeatherComponent from "../components/WeatherComponent.astro";
const title = "Plate Cove - Welcome!";
import "../styles/styles.css";
import oldRoute235Map from "../assets/other_photos/oldRoute235Map.jpg";
---

<MainLayout title={title}>
	<main>
		<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-black">
			<div class="col-span-1 row-span-2 md:col-span-1 lg:col-span-3 bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 shadow-md shadow-slate-500">
			<p>
				Welcome to Plate Cove. 
			</p>
			<br>
			<p>
				Plate cove is a community on the Bonavista Bay side of the Bonavista Peninsula. Plate Cove consists of a west and east side of the harbour,
				which work together to provide services to both communities.
				Both sides of the harbour share a volunteer fire department, parish church, parish house, pool and several volunteer organizations that
				work together to support things in the community. It is rumored from early settlers that the name comes from the fact that the cove is shaped like a
				dinner bowl or plate give it the name <i>"Plate Cove"</i>. 
			</p>
			<br>
			<figure class="float-right p-2">
				<img src={oldRoute235Map} alt="Old Route 235 Map" class="rounded-lg"/>
				<figcaption class="text-center italic font-semibold text-sm">Bonavista Bay - Map (Decks Awash 1984)</figcaption>
			</figure>
			<p>
				There are some local businesses in the community that provide services to the community and surrounding areas. Businesses such as a unique themed room inn
				that includes a restaurant, Furlong family whom provide fish and homemade fish products that are sold in the community and surrounding areas,
				convenience store, post office, and a few other small businesses as well as several other volunteer groups that work on improving the community.
			</p>
			<br>
			<p>
				The community has several hiking trails that are well maintained and are a great way to get out and enjoy the beautiful scenery that the area has to offer.
				Most trails will offer resting areas, picnic tables and great view of the ocean. The trails are well marked and are a great way to get out and enjoy the
				beauty of the area. The community also offers an outdoor infinity pool that is open to the public with views of both the east and west side of the harbour.
			</p>
			<br>
			<p>
				Plate cove is also a repository of a number of unique folk songs. Many of these songs were collected in the 1970's. The song 
				<i class="relative"><a href="/AntisPlateCove" class="after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-[#FF9950] after:transition-all after:ease-in-out after:hover:scale-x-100">"The Antis of Plate Cove"</a></i>
				was written in 1868 by Mark Walker and summed up all the no arguments.				
			</p>
		</div>
		<WeatherComponent />
	</section>
	</main>
</MainLayout>