---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Welcome!";
import "../styles/styles.css";
---

<style>
	#heroImage {
		width: 100%;
		height: 300px;
		background-image: url("../assets/view.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
  	opacity: 0.4;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
		z-index: 1;
	}
</style>

<MainLayout title={title}>
	<main>
		<div class="flex flex-col text-black">
			<div id="heroImage"></div>
			<h2 class="text-center text-2xl pt-6 text-black">Welcome to Plate Cove!</h2>
			<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
				<div class="col-span-1 md:col-span-2 lg:col-span-2 bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4">
				<p>
					This site is dedicated to Plate Cove. 
				</p>
				<br>
				<p>
					It is a small community located in the heart of the Avalon Peninsula. 
					It is a great place to live and raise a family. The community is very active and there is always something going on.
				</p>
				<br>
				<p>
					Most residents are employed by the local fish plant or as fishermen. 
					The most common family names in the community are Furlong, Philpott, Keough, Fennell and Walsh. The first postmistress was Catherine Jane Walsh.
					It is rumored that the harbour is shaped like a dinner bowl or plate, giving it the name of 'Plate Cove.' 
					In the small village there is only one store, 'Fennell's Atlantic Grocery,' and a fish plant 'Furlong Brothers Ltd.'
					Plate Cove is known for its annual St. Patrick's Day concert presented at the local community center, located between the east and west side of the harbour. 
					This event is organized by locals and includes skits and songs for all to enjoy.
				</p>
				<br>
				<p>
					Plate Cove is a great place to live and raise a family. 
					There is a lot of history in the community and it is a great place to visit. 
					We hope you enjoy your stay!
				</p>
				<br>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, doloribus debitis voluptatibus laborum praesentium illo! 
					Expedita quia facilis ea? Molestiae itaque cupiditate impedit, fugit delectus distinctio! Culpa hic ipsum deleniti, 
					quam quaerat excepturi deserunt amet quo officiis unde nam. Nisi culpa officia aut expedita nam accusamus tenetur accusantium possimus, 
					tempore impedit ipsam. Quas eum deleniti sequi asperiores excepturi accusamus consequuntur fugit a debitis quo modi illum cum obcaecati at 
					sint voluptatibus libero perferendis quod unde, provident magni animi hic? Assumenda excepturi quasi nesciunt reiciendis, voluptas aspernatur 
					labore suscipit laborum quam, nisi architecto quae ducimus molestiae, dolor iusto voluptate explicabo. Consequuntur!
				</p>
			</div>
			<div class="col-span-1 bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4">
				<p>This will be the location for the local weather api for Plate Cove</p>
				<p>Location</p>
				<p>Weather</p>
				<p>Temperature</p>
				<p>Wind</p>
				<p>Humidity</p>
				<p>Pressure</p>
				<p>Visibility</p>
				<p>UV Index</p>
				<p>Cloud Cover</p>
				<p>Feels Like</p>
				<p>Wind Gust</p>
				<p>Wind Direction</p>
				<p>Wind Speed</p>
				<p>Chance of Precipitation</p>
			</div>
			</div>
		</div>
	</main>
</MainLayout>