---
import MainLayout from "@layout/MainLayout.astro";
import WeatherComponent from "@components/WeatherComponent";
import IndexArticle from "@components/IndexArticle.astro";
import "../styles/styles.css";
import heroImage from "@assets/hero_images/view1.png";

const title = "Plate Cove, Newfoundland & Labrador";
---

<MainLayout title={title} backgroundImage={heroImage.src}>
  <main>
    <section class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 text-black">
      <IndexArticle />
      <WeatherComponent client:load />
    </section>
  </main>
</MainLayout>
