---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Welcome!";
import "../styles/styles.css";
---

<style>
	#heroImage {
		width: 100%;
		height: 300px;
		background-image: url("../assets/view.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
  	opacity: 0.4;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
		z-index: -1;
	}
</style>

<MainLayout title={title}>
	<main>
		<div class="flex flex-col text-black">
			<div id="heroImage"></div>
			<h2 class="text-center text-2xl pt-6 text-black">Welcome to Plate Cove!</h2>
			<div class="w-5/6 bg-white md:w-1/2 lg:w-1/2 mx-auto my-6 p-4 rounded-lg border-2 border-gray-300">
				<p>
					This site is dedicated to Plate Cove. 
				</p>
				<br>
				<p>
					It is a small community located in the heart of the Avalon Peninsula. 
					It is a great place to live and raise a family. The community is very active and there is always something going on.
				</p>
				<br>
				<p>
					Most residents are employed by the local fish plant or as fishermen. 
					The most common family names in the community are Furlong, Philpott, Keough, Fennell and Walsh. The first postmistress was Catherine Jane Walsh.
					It is rumored that the harbour is shaped like a dinner bowl or plate, giving it the name of 'Plate Cove.' 
					In the small village there is only one store, 'Fennell's Atlantic Grocery,' and a fish plant 'Furlong Brothers Ltd.'
					Plate Cove is known for its annual St. Patrick's Day concert presented at the local community center, located between the east and west side of the harbour. 
					This event is organized by locals and includes skits and songs for all to enjoy.
				</p>
				<br>
				<p>
					Plate Cove is a great place to live and raise a family. 
					There is a lot of history in the community and it is a great place to visit. 
					We hope you enjoy your stay!
				</p>
			</div>
		</div>
	</main>
</MainLayout>