---
import MainLayout from "../layout/MainLayout.astro";
import WeatherComponent from "../components/WeatherComponent.astro";
const title = "Plate Cove - Welcome!";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
---

<MainLayout title={title}>
	<main>
		<HeroBanner backgroundImage={View} heroText={"Welcome to Plate Cove!"}/>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
			<div class="col-span-1 row-span-2 md:col-span-1 lg:col-span-3 bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4">
			<p>
				This site is dedicated to Plate Cove. 
			</p>
			<br>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, doloribus debitis voluptatibus laborum praesentium illo! 
				Expedita quia facilis ea? Molestiae itaque cupiditate impedit, fugit delectus distinctio! Culpa hic ipsum deleniti, 
				quam quaerat excepturi deserunt amet quo officiis unde nam. Nisi culpa officia aut expedita nam accusamus tenetur accusantium possimus, 
				tempore impedit ipsam. Quas eum deleniti sequi asperiores excepturi accusamus consequuntur fugit a debitis quo modi illum cum obcaecati at 
				sint voluptatibus libero perferendis quod unde, provident magni animi hic? Assumenda excepturi quasi nesciunt reiciendis, voluptas aspernatur 
				labore suscipit laborum quam, nisi architecto quae ducimus molestiae, dolor iusto voluptate explicabo. Consequuntur!
			</p>
			<br>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, doloribus debitis voluptatibus laborum praesentium illo! 
				Expedita quia facilis ea? Molestiae itaque cupiditate impedit, fugit delectus distinctio! Culpa hic ipsum deleniti, 
				quam quaerat excepturi deserunt amet quo officiis unde nam. Nisi culpa officia aut expedita nam accusamus tenetur accusantium possimus, 
				tempore impedit ipsam. Quas eum deleniti sequi asperiores excepturi accusamus consequuntur fugit a debitis quo modi illum cum obcaecati at 
				sint voluptatibus libero perferendis quod unde, provident magni animi hic? Assumenda excepturi quasi nesciunt reiciendis, voluptas aspernatur 
				labore suscipit laborum quam, nisi architecto quae ducimus molestiae, dolor iusto voluptate explicabo. Consequuntur!
			</p>
			<br>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, doloribus debitis voluptatibus laborum praesentium illo! 
				Expedita quia facilis ea? Molestiae itaque cupiditate impedit, fugit delectus distinctio! Culpa hic ipsum deleniti, 
				quam quaerat excepturi deserunt amet quo officiis unde nam. Nisi culpa officia aut expedita nam accusamus tenetur accusantium possimus, 
				tempore impedit ipsam. Quas eum deleniti sequi asperiores excepturi accusamus consequuntur fugit a debitis quo modi illum cum obcaecati at 
				sint voluptatibus libero perferendis quod unde, provident magni animi hic? Assumenda excepturi quasi nesciunt reiciendis, voluptas aspernatur 
				labore suscipit laborum quam, nisi architecto quae ducimus molestiae, dolor iusto voluptate explicabo. Consequuntur!
			</p>
			<br>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, doloribus debitis voluptatibus laborum praesentium illo! 
				Expedita quia facilis ea? Molestiae itaque cupiditate impedit, fugit delectus distinctio! Culpa hic ipsum deleniti, 
				quam quaerat excepturi deserunt amet quo officiis unde nam. Nisi culpa officia aut expedita nam accusamus tenetur accusantium possimus, 
				tempore impedit ipsam. Quas eum deleniti sequi asperiores excepturi accusamus consequuntur fugit a debitis quo modi illum cum obcaecati at 
				sint voluptatibus libero perferendis quod unde, provident magni animi hic? Assumenda excepturi quasi nesciunt reiciendis, voluptas aspernatur 
				labore suscipit laborum quam, nisi architecto quae ducimus molestiae, dolor iusto voluptate explicabo. Consequuntur!
			</p>
		</div>
		<WeatherComponent />
		</div>
	</main>
</MainLayout>