---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Jiggin Head Trail";
import "../styles/styles.css";
import JigginHeadTrailImage from "../assets/jigginhead_trail/jigginhead.png"
import TrailComponent from "../components/TrailComponent.astro";
import TrailActivities from "../components/CardActivities.astro";
import View from "../assets/hero_images/view1.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} />
    <TrailComponent 
      trailImage={JigginHeadTrailImage} 
      altImage={"Jiggin Head Trail"}
      trailName={"Jiggin Head Hiking Trail"} 
      trailDescription={"Great views of Summerville and surrounding bay. Access possible from Route 235, though the first 1.4 km of the trail follow a dirt road that is accessible to off road vehicles. The last little portion is a walk through a mix of clearings and woods to the viewpoint"} 
      trailLength={"3.2 km"} 
      trailLocation={"Location of trail here"} 
    >
    <TrailActivities activity={"Hiking"} />
    <TrailActivities activity={"Forest"} />
    <TrailActivities activity={"Views"} />
    <TrailActivities activity={"Wildlife"} />
    </TrailComponent>
  </main>
</MainLayout>