---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Lodging";
import "../styles/styles.css";
import BusinessCard from "../components/BusinessCard.astro";
import SocialIcon from "../components/SocialIcon.astro";
import RoundDaBayInnImage  from "../assets/business_logos/rounddabayinn.jpg";
import View from "../assets/view.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Lodging Section"} />
    <div class="flex flex-wrap justify-center my-6 gap-2">
      <BusinessCard 
          businessImage={RoundDaBayInnImage}
          businessName={"Round Da Bay Inn"}
          businessDescription={"16 Unique Theme Rooms (1 wheelchair accessible, door 32)"}
          businessAddress={"4 Main Road, Plate Cove West, NL"} 
          businessPhone={"709-544-2008"} 
          businessEmail={"rounddabayinn@yahoo.ca"} 
          businessWebsite={"www.rounddabayinn.com"}
        >
          <SocialIcon socialHref={"https://www.facebook.com/RoundDaBayInn"} socialName={"brandico:facebook-rect"} />
        </BusinessCard>
      </div>
  </main>
</MainLayout>