---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Lodging";
import "../styles/styles.css";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Lodging Section Here!</h2>
  </main>
</MainLayout>