---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Antis of Plate Cove";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view3.jpg";
import SkyscrapperLunch from "../assets/history/skyscrapper_lunch.jpg";
---
<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Skyscrapper Lunch"} />
    <div class="bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4 text-black">
      <h2 class="text-xl font-semibold mb-2">The famous lunch atop a skyscrapper.</h2>
        <p>
          The photograph depicts eleven men eating lunch while sitting on a steel beam 850 feet (260 meters) above the ground on the sixty-ninth floor of 
          the near-completed RCA Building (now known as 30 Rockefeller Plaza) at Rockefeller Center in Manhattan, New York City, on September 20, 1932.
        </p>
        <br>
        <p>
          Lunch atop a Skyscraper is a black-and-white photograph taken on September 20, 1932, of eleven ironworkers sitting on a steel beam 850 feet (260 meters) 
          above the ground on the sixty-ninth floor of the RCA Building in Manhattan, New York City. It was arranged as a publicity stunt, part of a campaign 
          promoting the skyscraper. The photograph was first published in October 1932 during the construction of Rockefeller Center. In 2016 it was acquired 
          by the Visual China Group. The image is often misattributed to Lewis Hine; the identity of the photographer remains unknown. 
          Evidence emerged indicating it may have been taken by Charles C. Ebbets, but it was later found that other photographers had been present at the shoot as well. 
          Many claims have been made regarding the identities of the men in the image, though only a few have been definitively identified. 
          Ken Johnston, manager of the historic collections of Corbis, called the image as "a piece of American history".
        </p>
        <br>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2">
          <div>
            <p class="max-w-xl mx-auto bg-[#f4f4f4] p-4 rounded-lg border-2 border-gray-300">
              These men were immigrant ironworkers employed at the RCA Building during the construction of Rockefeller Center. 
              They were accustomed to walking along the girders. The photograph was taken as part of a campaign promoting the skyscraper. 
              Other photographs taken depict the workers throwing a football and pretending to sleep on the girder. Central Park is visible in the background.
              <br><br>
              The photograph was first published in the Sunday supplement of the New York Herald Tribune on October 2, 1932, with the caption: "Lunch Atop a Skyscraper".
              In 1995, Corbis Images, a company that provides archived images to professional photographers, bought a collection of over eleven million images 
              called the Bettmann Archive. The Lunch atop a Skyscraper photograph was in the Acme Newspictures archive, a part of the Bettmann Archive collection, 
              although it was uncredited. According to Ken Johnston, manager of the historic collections of Corbis, 
              the image was initially received in a Manila paper envelope. The original negative of the photograph was made of glass, 
              which had broken into five pieces. It is stored in a humidity and temperature-controlled preservation facility at the Iron Mountain storage 
              facility in Pennsylvania. The photograph was acquired by the Visual China Group in 2016.
              <br><br>
              The identity of the photographer is unknown. It was often misattributed to Lewis Hine, a Works Progress Administration photographer, 
              from the mistaken assumption that the structure is the Empire State Building. In 1998, Tami Ebbets Hahn, a resident of Wilmington,
              North Carolina, noticed a poster of the image and speculated that it was one of her father's (Charles C. Ebbets; 1905-1978) photographs. 
              In 2003, she contacted Johnston. Corbis hired Marksmen Inc., a private investigation firm, to find the photographer. 
              An investigator discovered an article from The Washington Post, which credited the image to Hamilton Wright. The Wright family, however, 
              was not familiar with the photograph. It was common for Wright to receive credit for photographs taken by those working for him;
              Hahn's father had worked for the Hamilton Wright Features syndicate.
              In 1932, Ebbets had been appointed the photographic director of Rockefeller Center, responsible for publicizing the new skyscraper. 
              Hahn found her father's paycheck of $1.50 per hour (equivalent to $30 per hour in 2021), the ironworkers photograph, and an image of 
              her father with a camera, which appeared to be of the same place and time. Analyzing the evidence, Johnston said: "As far as I'm concerned, 
              he's the photographer."Corbis later acknowledged Ebbets's authorship. It was later discovered that photographers Thomas Kelley, 
              William Leftwich, and Ebbets were present there on that day. Due to the uncertain identity of the photographer, the image is again without credit.
              <br><br>
              According to a New York Post survey, numerous claims have been made regarding the identities of the men in the image.
              The 2012 documentary Men at Lunch investigated claims that two of the men were Irish immigrants, and the director reported in 
              2013 that he planned to follow up on other claims from Swedish relatives. The film confirms the identities of two men: Joseph Eckner, 
              third from the left, and Joe Curtis, third from the right, by cross-referencing with other pictures taken the same day, in which they were named at the time.
              The first man from the right, holding a bottle, has been identified as Slovak worker Gustáv (Gusti) Popovič. 
              The photograph was found in his estate, with the note "Don't you worry, my dear Mariška, as you can see I'm still with bottle" written on the back.
            </p>
          </div>
        <div>
          <img src={SkyscrapperLunch} alt="Anti Confederation Advertisement" class=" mx-auto">
          <p class="text-center italic font-semibold">"Lunch atop a skyscrapper - 1932"</p>
        </div>
      </div>
    </div>
  </main>
</MainLayout>