---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Naked Man Beach Trail";
import "../styles/styles.css";
import NakedManTrailImage from "../assets/nakedman_beach/nakedMan.png"
import TrailComponent from "../components/TrailComponent";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Naked Man Beach Trail Information!</h2>
    <TrailComponent 
      trailImage={NakedManTrailImage}
      trailName={"Naked Man Hiking Trail"}
      trailDescription={"Description of trail here"} 
      trailLength={"Trail length here"} 
      trailLocation={"Location of trail here"} 
      client:load 
    />
  </main>
</MainLayout>