---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Naked Man Beach Trail";
import "../styles/styles.css";
import NakedManTrailImage from "../assets/nakedman_beach/nakedMan.png"
import TrailComponent from "../components/TrailComponent.astro";
import TrailActivities from "../components/CardActivities.astro";
import View from "../assets/hero_images/view1.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Naked Man Beach"} />
    <TrailComponent 
      trailImage={NakedManTrailImage}
      trailName={"Naked Man Hiking Trail"}
      trailDescription={"Generally considered a moderately challenging route, it takes an average of 1 h 47 min to complete. This trail is great for birding, hiking, and walking, and it's unlikely you'll encounter many other people while exploring. The best times to visit this trail are May through September."} 
      trailLength={"5.1 km"} 
      trailLocation={"Location of trail here"} 
    >
    <TrailActivities activity={"running"} />
    <TrailActivities activity={"hiking"} />
    <TrailActivities activity={"walking"} />
    <TrailActivities activity={"birding"} />
    </TrailComponent>
  </main>
</MainLayout>