---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Naked Man Beach Photos";
import "../styles/styles.css";
import NakedManBeachPhotos from "../components/NakedManCarousel";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center my-4 text-2xl text-black">Naked Man Beach Photos</h2>
    <NakedManBeachPhotos />
  </main>
</MainLayout>