---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/styles.css";
import NakedManTrailImage from "../assets/nakedman_beach/nakedMan.png";
import TrailComponent from "@components/TrailComponent.astro";
import TrailActivities from "@components/CardActivities.astro";
import heroImage from "../assets/hero_images/view6.jpg";

const title = "Plate Cove - Naked Man Beach Trail";
---

<MainLayout title={title} backgroundImage={heroImage.src}>
  <main>
    <TrailComponent
      trailImage={NakedManTrailImage}
      altImage={"Naked Man Memorial Hike"}
      trailName={"Naked Man Memorial Hike"}
      trailLength={"2.7 km"}
      trailLocation={"Start on Main Road, Plate Cove West"}
    >
      <p slot="after-trailname" class="text-sm">
        Trail is considered a moderately challenging trail although the hill on
        the way back will challenge you more! Trail is a 2.7 km return shared
        nature hike to the coast. Trail is wider for motorized vehicles and
        possible to see wildlife on the trail and at beach. The beach is nice
        although best times to see more of the beach with the sand bar is during
        low tides. Around the beach there is a shallow cave, small waterfall and
        up the coast you can see the rock formation called <i>"Bacon Strip"</i>.
        <br /><br />
        There are memory benches on the trail for rest areas and to enjoy being out
        in nature. The name of this beach came from the pillars in front of the beach
        which form a naked man sitting down that can be seen on your return from
        the sand bar. It is asked that you stay on the marked trail and pets are
        welcomed but must be on a leash while you pass through private land. This
        trail is within the Plate Cove volcanic belt and under the Discovery Geo
        Park. This hike was signed and opened by volunteers in 2021.
      </p>
      <TrailActivities activity={"Views"} slot="after-traillocation" />
      <TrailActivities activity={"Hiking"} slot="after-traillocation" />
      <TrailActivities activity={"Bird Watching"} slot="after-traillocation" />
      <TrailActivities activity={"Picnicking"} slot="after-traillocation" />
      <TrailActivities activity={"Dog Walking"} slot="after-traillocation" />
      <TrailActivities activity={"Beach"} slot="after-traillocation" />
      <TrailActivities activity={"Wildlife"} slot="after-traillocation" />
      <TrailActivities activity={"Views"} slot="after-traillocation" />
      <TrailActivities activity={"Kid Friendly"} slot="after-traillocation" />
    </TrailComponent>
  </main>
</MainLayout>
