---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Naked Man Beach Trail";
import "../styles/styles.css";
import NakedManTrailImage from "../assets/nakedman_beach/nakedMan.png"
import TrailComponent from "../components/TrailComponent";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Naked Man Beach Trail Information!</h2>
    <TrailComponent 
      trailImage={NakedManTrailImage}
      trailName={"Naked Man Hiking Trail"}
      trailDescription={"Generally considered a moderately challenging route, it takes an average of 1 h 47 min to complete. This trail is great for birding, hiking, and walking, and it's unlikely you'll encounter many other people while exploring. The best times to visit this trail are May through September."} 
      trailLength={"5.1 km"} 
      trailLocation={"Location of trail here"} 
      client:load 
    />
  </main>
</MainLayout>