---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Photos";
import "../styles/styles.css";
import PlateCovePhotos from "../components/PlatecoveCarousel";
---

<MainLayout title={title}>
  <main>
    <PlateCovePhotos />
  </main>
</MainLayout>