---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Plate Cove East Photos";
import "../styles/styles.css";
import View from "../assets/hero_images/view1.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Plate Cove East Photos"} />
  </main>
</MainLayout>