---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - History";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Plate Cove West History"} />
    <div class=" bg-white my-6 p-4 rounded-lg border-2 border-gray-300 mx-4 text-black">
      <h2 class="text-xl font-semibold mb-2">Plate Cove West</h2>
      <p>
        Plate Cove West is a village on the Bonavista Peninsula of Newfoundland, Canada. It borders Plate Cove East and is located about 30 km west of Catalina. 
        The population in this unincorporated community was 174 residents as of 2010. Most residents are employed by the local fish plant or as fishermen. 
        The most common family names in the community are Furlong, Philpott, Keough, Fennell and Walsh.
      </p>
      <br>
      <p>
        The first postmistress was Catherine Jane Walsh. It is rumored that the harbour is shaped like a dinner bowl or plate, giving it the name of 'Plate Cove.' 
        In the small village there is only one store, 'Fennell's Atlantic Grocery,' and a fish plant 'Furlong Brothers Ltd.'
        Plate Cove is known for its annual St. Patrick's Day concert presented at the local community center, located between the east and west side of the harbour. 
        This event is organized by locals and includes skits and songs for all to enjoy.
      </p>
    </div>
  </main>
</MainLayout>
