---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Churches & Schools History";
import heroImage from "../assets/hero_images/view3.png";
import "../styles/styles.css";
import ChurchModals from "../components/ChurchHistoryModals.astro";
import ChurchSchoolArticle from "../components/ChurchSchoolArticle.astro";
const images = await Astro.glob("../assets/history/oldChurch*.*").then(files => {
  return files.map(file => file.default.src);
});
const sortedImages = images.sort((a, b) => {
  const aNum = a.match(/\d+/)[0];
  const bNum = b.match(/\d+/)[0];
  return aNum - bNum;
});

console.log("sortedImages", sortedImages);

---

<MainLayout title={title} backgroundImage={heroImage.src}>
  <main>
    <section class=" bg-white mt-10 p-4 border-t-[1px] border-b-[1px] border-gray-300 text-black">
      <h2 class="text-xl font-semibold mb-2">Churches & Schools History</h2>
      <ChurchSchoolArticle />
      <p class="italic">Click the images below to show more info</p>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 xl:grid-cols-10 gap-2 auto-rows-[140px]">
        {sortedImages.map((image, index) => {
          return (
            <label for={`modal-${index + 1}`} class="hover:cursor-pointer hover:animate-pulse"><img src={image} alt={`Butcher's Nose Photo ${index + 1}`} class="rounded-lg h-full w-full" /></label>
          )
        })
        }
      </div>
    </section>
    <ChurchModals />
  </main>
</MainLayout>
