---
import MainLayout from "@layout/MainLayout.astro";
import "@styles/styles.css";
import heroImage from "@assets/hero_images/view8.jpeg";
import PlateCovePhotosModals from "@modals/PlateCovePhotosModals.astro";
import { sortImagesByNumber } from "@utils/ImageFunctions";
const images = await Astro.glob("../assets/plate_cove/plate_cove*.*").then(
  (files) => {
    return files.map((file) => file.default.src);
  }
);

const sortedImages = sortImagesByNumber(images);
---

<MainLayout title={"Plate Cove - Plate Cove Photos"} backgroundImage={heroImage}>
  <main>
    <section
      class="bg-white mt-10 p-4 border-t-[1px] border-b-[1px] border-gray-300 text-black shadow-md shadow-gray-400"
    >
      <h2 class="text-xl font-semibold mb-2">Plate Cove Photos</h2>
      <br />
      <p class="italic text-sm">Click the images below to show more info</p>
      <div
        class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 xl:grid-cols-10 gap-2 auto-rows-[140px]"
      >
        {
          sortedImages.map((image, index) => {
            return (
              <label
                for={`modal-${index + 1}`}
                class="hover:cursor-pointer hover:animate-pulse"
              >
                <img
                  src={image}
                  alt={`Plate Cove Photo ${index + 1}`}
                  class="rounded-lg h-full w-full"
                />
              </label>
            );
          })
        }
      </div>
    </section>
    <PlateCovePhotosModals />
  </main>
</MainLayout>
