---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Photos";
import "../styles/styles.css";
import RedBeachPhotos from "../components/RedBeachCarousel";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center my-4 text-2xl text-white">Red Beach Photos</h2>
    <RedBeachPhotos />
  </main>
</MainLayout>