---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Naked Man Beach Trail";
import "../styles/styles.css";
import RedBeachTrailImage from "../assets/red_beach/redBeach.png"
import TrailComponent from "../components/TrailComponent";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Red Beach Trail Information!</h2>
    <TrailComponent 
      trailImage={RedBeachTrailImage} 
      trailName={"Red Beach Hiking Trail"} 
      trailDescription={"Description of trail here"} 
      trailLength={"Trail length here"} 
      trailLocation={"Location of trail here"} 
      client:load 
    />
  </main>
</MainLayout>