---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Red Beach Trail";
import "../styles/styles.css";
import RedBeachTrailImage from "../assets/red_beach/redBeach.png"
import TrailComponent from "../components/TrailComponent.astro";
import TrailActivities from "../components/CardActivities.astro";
---

<MainLayout title={title}>
  <main>
    <TrailComponent 
      trailImage={RedBeachTrailImage}
      altImage={"Red Beach Trail"}
      trailName={"Red Beach Hiking Trail"} 
      trailDescription={"This trail is great for bird watching and hiking, and it's unlikely you'll encounter many other people while exploring. Dogs are welcome, but must be on a leash at all times."} 
      trailLength={"2.4 km"} 
      trailLocation={"Location of trail here"} 
    >
    <TrailActivities activity={"Hiking"} />
    <TrailActivities activity={"Bird Watching"} />
    <TrailActivities activity={"Picnicking"} />
    <TrailActivities activity={"Dog Walking"} />
    <TrailActivities activity={"Beach"} />
    <TrailActivities activity={"Wildlife"} />
    <TrailActivities activity={"Views"} />
    <TrailActivities activity={"Kid Friendly"} />
    </TrailComponent>
  </main>
</MainLayout>