---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Restaurants";
import "../styles/styles.css";
import { Icon } from "astro-icon";
import BusinessCard from "../components/BusinessCard.astro";
import BellasRestaurantImage  from "../assets/business_logos/bellasrestaurant.jpg";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Restaurants Section Here!</h2>
    <div class="flex flex-wrap justify-center my-6 gap-2">
      <BusinessCard 
          businessImage={BellasRestaurantImage}
          businessName={"Bella's Restaurant"}
          businessDescription={"Open daily from 8AM until 7PM from June 13 until Otober 1."}
          businessAddress={"4 Main Road, Plate Cove West, NL"} 
          businessPhone={"709-544-2008"} 
          businessEmail={"rounddabayinn@yahoo.ca"} 
          businessWebsite={"www.rounddabayinn.com/bellas-restaurant"}
        >
          <a href="https://www.facebook.com/RounddaBayInnNL" target="_blank"><Icon class="w-8 inline transition duration-700 hover:text-[#4267B2]" name="brandico:facebook-rect" /></a>
        </BusinessCard>
      </div>
  </main>
</MainLayout>