---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Things To Do";
import "../styles/styles.css";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-white">Things To Do & See Section Here!</h2>
  </main>
</MainLayout>