---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Things To Do";
import "../styles/styles.css";
---
<style>
  main::after {
      content: "";
      background-image: url("../assets/view.JPG");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.4;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
  }
</style>

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl">Things To Do & See Section Here!</h2>
  </main>
</MainLayout>