---
import AntiConfedAd from "../assets/history/anticonfedad.jpg";
---

<article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2">
  <div class="order-2 md:order-1 lg:order-1">
    <p class="max-w-xl mx-auto bg-[#f4f4f4] p-4 rounded-lg border-[1px] border-gray-300 italic">
      Come all ye good people and listen
      To what I have come here to say;
      It's concerning a band of vile traitors
      That live at the head of our bay.
      Their names for some time I'll not mention,
      I'll apprehend them by and by.
      Their leader he was a blind piper,
      By the parson's game-cock lost an eye.
      The day that the poll-booth was opened,
      The “Antis” and “Cons” they were there.
      The flag of cursed Confederation
      Was gallantly marched to the rear.
      Keough struck Newell, the bearer,
      And he trampled the 'rag' to the ground;
      Mavourneen he struck Neddy Humby
      And frightened the Abbots and Brown.
      <br><br>
      Then out came that chap of the Brennan's.
      A son to the leader in strife;
      He took an oak stave in the morning
      And he swore he would have “Antis” life.
      He was soon perceived by those heroes,
      Descendants of old Granu-Aile,
      Who tumbled him into a mud pool
      And followed clan Brennan's on trail.
      <br><br>
      Then next was the great Patagonian,
      Both matchless in manner and size;
      He first talked in favour of “Antis”,
      Then joined the confederate side.
      The gang got a full tub of “soldiers”
      And pelted him down to his door.
      His mother did not recognize him
      'Til she washed him a dozen times o'er!
      <br><br>
      Oh, boys, if you saw the fair Jenny
      I'm sure you would pity her case;
      And if she was handy to Ridley
      He might sympathize with her grace.
      Poor thing, she is half broken-hearted
      Since the “Antis” have now gained their day,
      Short shoes and long corns may attend her
      Is the wish of all Bonavist' Bay.
      <br><br>
      And now to conclude and to finish,
      I hope a good lesson we've taught;
      And the Touters sent here from the city
      Have been told that Plate Cove can't be bought.
      Our fathers came here to find freedom,
      Their sons will not trade it away;
      Then hurrah! for the “Antis” of Plate Cove,
      The “Fortress of Bonavist' Bay”!
    </p>
  </div>
  <figure class="order-1 md:order-2 lg:order-2">
    <img src={AntiConfedAd.src} alt="Anti Confederation Advertisement" class="mx-auto rounded-lg">
    <figcaption class="text-center italic font-semibold text-sm">Anti Confederation Advertisement</figcaption>
    <figcaption class="text-center italic font-semibold text-sm">"Morning Chronical, St. John's, September 29 / 1869</figcaption>
  </figure>
</article>