---

---

<p class="text-sm">
  Early settlers of Plate Cove would travel to King's Cove in the early 1800's to attend church services until the late 1800's when they would travel to Open Hall.
  In 1854 there was a small Roman Catholic school house in Plate Cove which had 15 students, although Plate Cove East residents continued to rely on the church
  and school at near by Open Hall. The decendants of Plate Cove between the early 1800's and mid 1900's are burried in Open Hall until the graveyard was established
  in Plate Cove. The first person burried in the new Plate Cove graveyard was Charlie Tobin of Plate Cove West. Stories from early generations is that if the residents
  of Plate Cove couldn't travel by the road to Open Hall for funeral or burrial services they would transport the deceased by boat in the summer and across the ice
  in the winter months.
</p>
<br>
<p class="text-sm">
  The first priest that ministered in the area in the early 1800's were travelers or circuit ministers, and because the Roman Catholic religion was outlawed, they
  did not stay very long in one place. The catholic population which exceeded the protestant population <i>"had priest scattered amongst them".</i>&nbsp; Schools were
  run by the catholic church in the community so for a time the community used the schools for church services in the early 1900's. The 1914 Roman Catholic school house
  in Plate Cove had 2 teachers (Neter Tracey with a salary of $2.95 and Lizzie Joy with a salary of $63.93). In 1921 there were two school houses with one in Plate Cove West
  that had one female teacher and one in Plate Cove East with one male teacher.
</p>
<br>
<p class="text-sm">
  St. Aidan's Elementary opened in the 1960's which serviced the comunnities of Plate Cove East, Plate Cove West and Summerville which closed at the end of the school year
  1990 - 1991 then sold to a local business that used it for a number of years for the fishing industry and the building still exists today. After grade 6
  all the Elementary school students attended St. Mark's in King's Cove. After St. Aidan's Elementary closed, all grades attend St. Mark's School.
</p>
<br>
<p class="text-sm">
  There was a smaller church in Plate Cove that was used for a period in the 1940's until a larger church was built in the early 1950's and opened in 1955. St. Patrick's
  Parish was established in 1966 and used the church until it succumbed to a fire on November 16<sup>th.</sup>&nbsp;/ 1986 that destroyed the church and parish center.
  The comunnity used the local St. Aidan's Elementary school for weekly church services until a new modern style church was built and opened around 1990.
  The new building houses the church, chapel, comuniity center with stage for concerts, washrooms and a full kitchen. This present day church is located between the
  West and East sides which offers church services to present day.
</p>
<br>