---
import { Icon } from "astro-icon";
---

<footer class="w-full h-14">
  <div class="text-center lg:text-left bg-gray-100 text-gray-600 h-14">
    <div class="flex justify-between items-center md:justify-between lg:justify-between p-6 border-t border-gray-300 h-14">
      <div class="mr-12 block md:block lg:block">
        <span>&copy;2022, Design By <a href="https://www.linkedin.com/in/michael-miller-0aa2bb229" target="_blank">Michael Miller</a></span>
      </div>
      <div class="flex justify-right">
        <a href="http://www.facebook.com" target="_blank" class="w-[30px] mr-6 my-auto text-gray-600 hover:scale-150 transition duration-700 hover:text-blue-600"><Icon name="brandico:facebook-rect" /></a>
        <a href="http://www.instagram.com" target="_blank" class="w-[36px] mr-6 text-gray-600 hover:scale-150 transition duration-700 hover:text-red-600"><Icon name="uim:instagram-alt" /></a>
      </div>
    </div>
  </div>
</footer>