---
import NavBar from "./NavBar.astro";
import WebLogo from "../assets/platecove_logo.png"
---

<header class="shadow-md bg-white">
  <div class="text-center py-4">
    <img src={WebLogo} alt="Trailblazers Logo" class="mx-auto" />
  </div>
  <NavBar />
</header>