---
import NavBar from "./NavBar.astro";
import WebLogo from "../assets/trailblazers_logo.png"
---
<style>
  h1 {
    font-family: 'Gloock', serif;
  }
</style>

<header class="shadow-md bg-white">
  <div class="text-center py-4">
    <img src={WebLogo} alt="Trailblazers Logo" class="mx-auto" />
    <h1 class="text-3xl md:text-4xl lg:text-4xl text-black">Plate Cove Newfoundland</h1>
  </div>
  <NavBar />
</header>