---
import { Image } from "astro:assets";
const { backgroundImage } = Astro.props;
---

<section class="flex flex-col justify-center items-center h-full relative" id="heroImage">
	<Image src={backgroundImage} alt="Hero Image" class="w-full h-72 opacity-80 object-cover object-center" />
</section>