---

---

<style>
.animate-fly-in {
    animation-name: fly-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.animate-fly-in:nth-child(1) {
    animation-delay: 0.5s;
    animation-name: fly-in-left;
}

.animate-fly-in:nth-child(2) {
    animation-delay: 1s;
    animation-name: fly-in-top;
}

.animate-fly-in:nth-child(3) {
    animation-delay: 1.5s;
    animation-name: fly-in-right;
}

@keyframes fly-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fly-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fly-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
</style>

<section class="bg-white my-10 border-t-[1px] border-b-[1px] border-gray-300">
  <div class="flex flex-col justify-around text-center md:flex-row lg:flex-row">
    <article class="my-10 md:my-20 lg:my-20 animate-fly-in">
      <h1 class="text-5xl font-bold text-gray-800 mb-4">People</h1>
      <p class="text-gray-600">Connect with friendly locals who call this place home.</p>
    </article>
    <article class="my-10 md:my-20 lg:my-20 animate-fly-in">
      <h1 class="text-5xl font-bold text-gray-800 mb-4">Sights</h1>
      <p class="text-gray-600">Discover the beauty of our communities</p>
    </article>
    <article class="my-10 md:my-20 lg:my-20 animate-fly-in">
      <h1 class="text-5xl font-bold text-gray-800 mb-4">History</h1>
      <p class="text-gray-600">Experience our rich culture and GeoPark</p>
    </article>
  </div>
</section>