---
import { Image } from "astro:assets";
import oldRoute235Map from "../assets/other_photos/oldRoute235Map.jpg";
---

<div class="col-span-1 row-span-2 md:col-span-1 lg:col-span-3 bg-white mt-10 mb-6 p-4 border-t-[1px] border-r-[1px] border-b-[1px] border-gray-300 lg:mr-4 lg:rounded-r-lg">
	<p class="text-sm">
		Welcome to the community of Plate Cove. 
	</p>
	<br>
	<p class="text-sm">
		Plate Cove is a community on the Bonavista Bay side of the Bonavista Peninsula. Plate Cove consists of a west and east side of the cove,
		which work together to provide services to both communities.
		Both sides of the cove share a volunteer fire department which now operates as a substation of the Summerville - Princeton - Southern Bay fire department, parish church, parish house, outdoor 
		pool and several volunteer organizations that	work together to support things in the community. It is rumored from early settlers that the name comes from the fact that the cove is shaped like a
		dinner bowl or plate which give it the name <i>"Plate Cove"</i>.
	</p>
	<br>
	<figure class="float-right p-2">
		<Image src={oldRoute235Map} alt="Old Route 235 Map" class="rounded-lg"/>
		<figcaption class="text-center italic font-semibold text-sm">Bonavista Bay - Map (Decks Awash 1984)</figcaption>
	</figure>
	<p class="text-sm">
		There are some local businesses in the community that provide services to the community and surrounding areas. Businesses such as a unique themed room hotel
		that includes a restaurant, Furlong family whom provide fish and homemade fish products that are sold in the community and surrounding areas,
		convenience store, post office, and a few other small businesses as well as several other volunteer groups that work on improving the community.
	</p>
	<br>
	<p class="text-sm">
		Plate Cove is a repository of a number of unique folk songs. Many of these songs were collected in the 1970's. The song 
		<i class="relative"><a href="/AntisPlateCove" class="after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-[#FF9950] after:transition-all after:ease-in-out after:hover:scale-x-100">"The Antis of Plate Cove"&nbsp</a></i>
		was written in 1868 by Mark Walker and summed up all the no arguments.				
	</p>
	<br>
	<p class="text-sm">
		The community has several hiking trails that are maintained and are a great way to get out and enjoy the beautiful scenery that the area has to offer.
		Trails will offer resting areas, picnic tables and a great view of the ocean. The community also offers an outdoor infinity pool that is open to the public 
		with views of both the east and west side of the cove.
	</p>	
	<br>
	<p class="text-sm">
		Plate Cove lies within the Discovery Global GeoPark with significance to the park. The cove area between the West and East communities is a geo site due to
		it being a raised coastline, coastal terrace. The back side of Plate Cove West is the Plate Cove volcanic belt which contains the <i>"bacon strip"</i>&nbsp;, Red Beach
		and Naked Man Beach.
	</p>
	<br>
	<p class="text-sm">
		Plate Cove is known for it's annual St. Patrick's Day concert presented at the local community center, located between both sides of the cove.
		This event is organized by locals and includes skits and songs for all to enjoy.
	</p>
	<br>
	<p class="text-sm">
		Did you know that Newfoundland is the only place outside of Ireland that has an irish language name? <i>"Talamh an Eisc"</i>,&nbsp; meaning
		<i>"land of fish"</i>,&nbsp; was given that name by irish settlers in the 18<sup>th.</sup> century. 
		Newfoundland is also one of the few places in the world that celebrates St. Patrick's Day as a public holiday.
	</p>
</div>