---
const { title } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="google-site-verification" content="I5pEhLwHlTIGzS7YPv0la4MadgNT3o9lwaIrG4LEL84" />
<meta name="msvalidate.01" content="12CF6AA347BB095883D2BF2B62FA405F" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Michael Miller" />
<meta name="description" content="Plate Cove, Newfoundland & Labrador, a community located on route 235 on the Bonavista Highway." />
<meta name="keywords" content="Plate Cove, Plate Cove West, Plate Cove East, Trail Blazers, Hiking Trails, Newfoundland, Newfoundland Heritage, Route 235, Bonavista Highway, Geo Park" />
<meta name="generator" content={Astro.generator} />
<meta property="og:title" content="Plate Cove, Newfoundland & Labrador" />
<meta property="og:description" content="Plate Cove, Newfoundland & Labrador, a community located on route 235 on the Bonavista Highway." />
<meta property="og:url" content="https://www.platecove.com/" />
<meta property="og:image" content="https://platecove.com/assets/platecove_logo.e43e4d51.png" />
<meta property="og:type" content="website" />
<title>{title}</title>