---
const { title } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="google-site-verification" content="I5pEhLwHlTIGzS7YPv0la4MadgNT3o9lwaIrG4LEL84" />
<meta name="viewport" content="width=device-width" />
<meta name="author" content="Michael Miller" />
<meta name="description" content="It is home for the community of Plate Cove, NL, a  community located on route 235 on the Bonavista Highway." />
<meta name="keyword" content="Plate Cove, Plate Cove West, Plate Cove East, Trail Blazers, Hiking Trails, Newfoundland, Newfoundland Heritage, Route 235, Bonavista Highway, Geo Park" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>