---
const { title } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta name="author" content="Michael Miller" />
<meta name="description" content="It is home to the Plate Cove Trail Blazers, a hiking club that maintains a network of hiking trails in the area." />
<meta name="keyword" content="Plate Cove, Plate Cove West, Plate Cove East, Trail Blazers, Hiking Trails, Newfoundland, Newfoundland Heritage" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>