---
import HamburgerMenu from "../components/HamburgerMenu.astro";
---

<nav class="navbar justify-between bg-[#023047]">
  <div>
    <div class="dropdown">
      <label
        tabindex={0}
        class="lg:hidden"
        onclick="toggleMobileMenu(this)"
      >
        <HamburgerMenu />
      </label>
      <ul
        tabindex={0}
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-[#023047] rounded-box w-52"
      >
        <li>
          <a
            class="hover:bg-[#FB8500] rounded-lg text-white"
            href="/"
          >
            Home
          </a>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            History
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/PlateCoveHistory"
              >
                Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/PlateCoveChurchHistory"
              >
                Churches of Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/AntisPlateCove"
              >
                Antis of Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/LunchSkyscrapperHistory"
              >
                Lunch atop a Skyscraper
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/NoSeasHistory"
              >
                No Seas To Wash Me Off
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/ArcticExplorerHistory"
              >
                Arctic Explorer
              </a>
            </li>
          </ul>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            Photos
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/PlateCovePhotos"
              >
                Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/RedBeachPhotos"
              >
                Red Beach
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/NakedBeachPhotos"
              >
                Naked Man Beach
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/JigginHeadPhotos"
              >
                Jiggin' Head
              </a>
            </li>
          </ul>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            Around Town
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/Restaurants"
              >
                Restaurants
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/Lodging"
              >
                Lodging
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/LocalBusiness"
              >
                Local Businesses
              </a>
            </li>
          </ul>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            Hiking Trails
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/RedBeachTrail"
              >
                Red Beach Memorial
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/NakedManTrail"
              >
                Naked Man Beach
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/JigginHeadTrail"
              >
                Jiggin Head
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
            class="hover:bg-[#FB8500] rounded-lg text-white"
            href="/Folklore"
          >
            Folklore
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          class="hover:bg-[#FB8500] rounded-lg text-white"
          href="/"
        >
          Home
        </a>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          History
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/PlateCoveHistory"
            >
              Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/PlateCoveChurchHistory"
            >
              Churches of Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/AntisPlateCove"
            >
              Antis of Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/LunchSkyscrapperHistory"
            >
              Lunch atop a Skyscraper
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/NoSeasHistory"
            >
              No Seas To Wash Me Off
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/ArcticExplorerHistory"
            >
              Arctic Explorer
            </a>
          </li>
        </ul>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          Photos
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/PlateCovePhotos"
            >
              Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/RedBeachPhotos"
            >
              Red Beach
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/NakedBeachPhotos"
            >
              Naked Man Beach
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/JigginHeadPhotos"
            >
              Jiggin' Head
            </a>
          </li>
        </ul>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          Around Town
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/Restaurants"
            >
              Restaurants
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/Lodging"
            >
              Lodging
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/LocalBusiness"
            >
              Local Businesses
            </a>
          </li>
        </ul>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          Hiking Trails
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/RedBeachTrail"
            >
              Red Beach Memorial
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/NakedManTrail"
            >
              Naked Man Beach
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/JigginHeadTrail"
            >
              Jiggin Head
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a
          class="hover:bg-[#FB8500] rounded-lg text-white"
          href="/Folklore"
        >
          Folklore
        </a>
      </li>
    </ul>
  </div>
</nav>