---

---

<script is:inline>
  function toggleMobileMenu(x) {
    let dropdown = document.getElementsByClassName("dropdown-content")[0];
    if (dropdown.style.display === "block") {
      dropdown.style.display = "none";
    } else {
      dropdown.style.display = "block";      
    }
  }
  function animateHamburgerMenu(x) {
    x.classList.toggle("change");
    let bar1 = document.getElementById("bar1");
    let bar2 = document.getElementById("bar2");
    let bar3 = document.getElementById("bar3");
    if (bar1.style.transform === "rotate(45deg)") {
      bar1.style.transform = "rotate(0deg)";
      bar1.style.translate = "0 0";
      bar2.style.opacity = "1";
      bar4.style.opacity = "1";
      bar3.style.transform = "rotate(0deg)";
      bar3.style.translate = "0 0";
      bar1.style.transition = "0.3s";
      bar2.style.transition = "0.3s";
      bar3.style.transition = "0.3s";
      bar4.style.transition = "0.3s";
    } else {
      bar1.style.transform = "rotate(45deg)";
      bar1.style.translate = "0 7px";
      bar3.style.translate = "0 -7px";
      bar2.style.opacity = "0";
      bar4.style.opacity = "0";
      bar3.style.transform = "rotate(-45deg)";
      bar1.style.transition = "0.3s";
      bar2.style.transition = "0.3s";
      bar3.style.transition = "0.3s";
      bar4.style.transition = "0.3s";
    }
  }
</script>

<nav class="navbar justify-between bg-[#023047]">
  <div>
    <div class="dropdown">
      <label
        tabindex={0}
        class="lg:hidden"
        onclick="toggleMobileMenu(this)"
      >
        <div onclick="animateHamburgerMenu(this)" class="inline-block cursor-pointer p-2">
          <div id="bar1" class="w-8 h-[3px] bg-white my-1 rounded-sm"></div>
          <div id="bar2" class="w-6 h-[3px] bg-white my-1 rounded-sm"></div>
          <div id="bar3" class="w-8 h-[3px] bg-white my-1 rounded-sm"></div>
          <div id="bar4" class="w-6 h-[3px] bg-white mt-1 rounded-sm"></div>
        </div>
      </label>
      <ul
        tabindex={0}
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-[#023047] rounded-box w-52"
      >
        <li>
          <a
            class="hover:bg-[#FB8500] rounded-lg text-white"
            href="/trail_blazers/"
          >
            Home
          </a>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            History
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/PlateCoveHistory"
              >
                Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/PlateCoveChurchHistory"
              >
                Churches of Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/AntisPlateCove"
              >
                Antis of Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/LunchSkyscrapperHistory"
              >
                Lunch atop a Skyscraper
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/NoSeasHistory"
              >
                No Seas To Wash Me Off
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/ArcticExplorerHistory"
              >
                Arctic Explorer
              </a>
            </li>
          </ul>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            Photos
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/PlateCovePhotos"
              >
                Plate Cove
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/RedBeachPhotos"
              >
                Red Beach
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/NakedBeachPhotos"
              >
                Naked Man Beach
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/JigginHeadPhotos"
              >
                Jiggin' Head
              </a>
            </li>
          </ul>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            Around Town
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/Restaurants"
              >
                Restaurants
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/Lodging"
              >
                Lodging
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/LocalBusiness"
              >
                Local Businesses
              </a>
            </li>
          </ul>
        </li>
        <li tabindex={0}>
          <a class="justify-between hover:bg-[#FB8500] rounded-lg text-white">
            Hiking Trails
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2 bg-[#023047]">
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/RedBeachTrail"
              >
                Red Beach Memorial
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/NakedManTrail"
              >
                Naked Man Beach
              </a>
            </li>
            <li>
              <a
                class="hover:bg-[#FB8500] rounded-lg text-white"
                href="/trail_blazers/JigginHeadTrail"
              >
                Jiggin Head
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
            class="hover:bg-[#FB8500] rounded-lg text-white"
            href="/trail_blazers/About"
          >
            About Us
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          class="hover:bg-[#FB8500] rounded-lg text-white"
          href="/trail_blazers/"
        >
          Home
        </a>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          History
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/PlateCoveHistory"
            >
              Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/PlateCoveChurchHistory"
            >
              Churches of Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/AntisPlateCove"
            >
              Antis of Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/LunchSkyscrapperHistory"
            >
              Lunch atop a Skyscraper
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/NoSeasHistory"
            >
              No Seas To Wash Me Off
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/ArcticExplorerHistory"
            >
              Arctic Explorer
            </a>
          </li>
        </ul>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          Photos
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/PlateCovePhotos"
            >
              Plate Cove
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/RedBeachPhotos"
            >
              Red Beach
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/NakedBeachPhotos"
            >
              Naked Man Beach
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/JigginHeadPhotos"
            >
              Jiggin' Head
            </a>
          </li>
        </ul>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          Around Town
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/Restaurants"
            >
              Restaurants
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/Lodging"
            >
              Lodging
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/LocalBusiness"
            >
              Local Businesses
            </a>
          </li>
        </ul>
      </li>
      <li tabindex={0}>
        <a class="hover:bg-[#FB8500] rounded-lg text-white">
          Hiking Trails
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
        <ul class="p-2 bg-[#023047] z-10">
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/RedBeachTrail"
            >
              Red Beach Memorial
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/NakedManTrail"
            >
              Naked Man Beach
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#FB8500] rounded-lg text-white"
              href="/trail_blazers/JigginHeadTrail"
            >
              Jiggin Head
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a
          class="hover:bg-[#FB8500] rounded-lg text-white"
          href="/trail_blazers/About"
        >
          About Us
        </a>
      </li>
    </ul>
  </div>
</nav>