---

---

<article class="text-black">
  <section class="grid md:grid-cols-3 lg:grid-cols-3 gap-6">
    <p>
    Monday, April 26th. 1982 was the kind of day that lobster fisherman on the northeast coast of Newfoundland really
    wanted to see. It was the opening date for the area's lobster fishery, and the calm, cool day was perfect for setting lobster traps.
    <br><br>
    Herb Keough from Plate Cove West in Bonavista Bay closely observed the sky and the sea that morning and knew that if weather held all day,
    he and his youngest brother Pius would probably be able to set most, if not all of their 200 traps before dark.
    <br><br>
    Herb 42, was a seasoned fisherman and, like most of his peers, had a good sense of well-being that Monday morning. The losbter fishery
    was fairly lucrative in Bonavista Bay in the early 1980's, and getting off to a good start always lifted fisherman's spirits.
    In a business fraught with dissapointments caused by everything from bad weather to engine troubles, small boat fishermen always
    live in hope that the upcoming season might be as good as, or better than, the previous one. A good opening day for the lobster fishery
    always made it easier to believe that this would be the season of bumper crops, or, as fishermen call it, "A Good Voyage".
    <br><br>
    Herb and 28 year old Pius from Plate Cove East, a short distance up the shore from Herb's home, headed out with the first load of traps
    bright and early Monday morning. After loading their speedboat with approxaimately 35 pots, Herb started the outboard motor as Pius stood
    in the front of the 19 foot wooden boat, keeping an eye on the ocean looking out for debris, because his brother's view of what lay ahead was somewhat
    obscured by the lobster pots that were loaded in the midsection of the boat. Watching all the other boats scurrying around the coastline setting pots,
    Pius shared his brother's enthusiasm that morning. Life was good.
    <br><br>
    The Keough brothers had a productive day. By late afternoon they had made four or five trips to the fishing grounds, setting about 150 traps.
    The weather stayed fine and the wind remained light. The small swell on the ocean wasn't getting any worse, so around 5:00 P.M. they decided
    to make one last trip for the day. Darkness would be closing in by the time they finished dumping the last few pots. However, the brothers
    were pleased with the day's work and didn't mind leaving the few remaining pots to set on Tuesday when they would go out and haul some of the ones
    already set.
    </p>
    <p>
    The last load approxaimately 35 pots was destined for an area near Red Beash Island. Because the island was further away than they had
    been all day, Herb kept off the coastline anout a half-mile or so to avoid ropes that were teathered to all the pots that they had set and those set by other fishermen.
    <br><br>
    Everything seemed to be going just as it had all day, when suddenly the bow of the speedboat dug into a swell and took on water, filling the front compartment
    with serveral inches of water. For a few moments, Herb, back at the engine, was not sure what was going on, but before the speedboat could fully level off, another swell washed over the bow,
    this time adding a significant amount of water in the front compartment.
    <br><br>
    Back aft, Hern knew that the bow was dangerously low in the water because the engine's propeller was barely touching the water's surface.
    <br><br>
    <span class="italic">"Get the pots overboard!" Herb yelled to Pius. "Hurry!"</span>
    <br><br>
    As Pius frantically threw lobster pots over the side of the boat, Herb realized that they ere sinking at an alarming rate. Knowing that evry pound on board the boat counted,
    Herb tried to disconnect the motor to throw it overboard, too. But things were happening too quickly. Before he could release the motor from the counter, another
    swell washed over them, this time completely filling the boat with water.
    <br><br>
    <span class="italic">"I had one pin out and was working on the second one when she rolled over, and the next thing I knew, we were overboard" Herb says.</span>
    <br><br>
    As often happens when a capsizing occurs, the boat eventually came to rest bottom-up. Herb and Pius managed to climb up on top of the overturned hull
    of the small boat, still trying to figure out what happened.
    <br><br>
    "There were no seas and the swells were not bad, but I guess one or two of them must have been bigger than the others and she dug in" Herb says.
    <br><br>
    It's difficult to estimate how much time elapses from one incident to another in situations like this, but Herb figures he and Pius had clung to the
    bottom of the speedboat for about 15 minutes when Pius decided to try and swim to shore, a little more than a quarter of a mile away.
    <br><br>
    The plan was to get ashore and then walk to Plate Cove West, about a 25 minute walk. There he would get someone to go out and rescue Herb.
    </p>
    <p>
    Both men were soaked through to the skin and knew they wouldn't last long in the cold April temperatures. To make matters worse, the ocean
    currents were pushing them further off shore, sp that every minute that Pius postponed the idea of swimming ashore, the further he would have to swim, if in fact, he made the
    decision to go for it. Herb couldn't swim and had no choice but to stay with the boat.
    <br><br>
    Pius was good swimmer, but the near-freezing water was overwhelming. Within a few minutes, he started to grow numb. Sensing that Pius was not able to make it to shore,
    Herb called to his brother to return to the boat. Pius turned around, but by then he was in an advanced stage of hypothermia and could no longer push his arms
    and legs to keep afloat. Helplessly, Herb watched in horror as his young brother sank beneath the surface.
    <br><br>
    Herb Keough never felt so helpless in his entire life. Straddling the bottom of the overturned speedboat, he could do absoloutely nothing to help himself. But fate was not ready to deal a knockout blow to both brothers that day.
    Although he was weakening and perhaps even growing a little delirious, not to mention anxious about approaching darkness, Herb was certain he could see
    a speeboat about a mile away coming directly toward him.
    <br><br>
    Rick Furlong, also from Plate Cove West, is still not sure why he was heading in the direction of Red Beach Island that evening. He had planned
    to set fishing nets to the southwest, in the exact opposite direction, but, at the last minute, he changed his mind and decided to go the other way.
    Herb Keough has thanked God a million times that Rick had a change of heart, because within a few minutes after Herb saw the speedboat approaching, Rick, along
    with his shipmate, Elias Furlong, pulled alongside and hauled Herb from what could have been, within an hour at most, certain death.
    <br><br>
    Herb is aware that, despite loosing his brother that day, he is a lucky man. The fact that Rick Furlong had other plans but somehow changed him mind
    was a stroke of luck, but the reasonably calm seas slo contributed to his ability to hang on.
    <br><br>
    <span class="italic">"I'm only alive because there were no seas to wash me off the boat" Herb says.</span>
    <br><br>
    Herb has suffered nerve damage, to his legs in particular, as a result of that incident, but he is still around to tell the story. 
    Sadly, his brother Pius, aged 28, made his final voyage on Monday April 26th. 1982.
    </p>
  </section>
  <section class="text-center mt-6">
    <p class="text-lg italic font-semibold">In loving memory of Pius Keough</p>
  </section>
</article>