---

---

<article>
  <p>
    The land we gather on in our communities in Ktaqmkuk, traditional unceded Mi'Kaw territory. We hold in great respect the diverse histories  and cultures of the people
    of the Plate Cove area, and the ongoing connections with the past, present and future in our relationships with all people of the Plate Cove area in Newfoundland
    and Labrador.
  </p>
  <br>
  <p>
    The first settlers of Plate Cove arrived in the early 1800's, largely by Irish Roman Catholics from King's Cove / Bonavista area with some English Roman Catholics
    and some Anglicans. Likely this movement was from families who had been hoinh there for some years for the summer fishery. The earliest record of settlement in
    Plate Cove in parish accounts of King's Cove is the 1820 marriage of one Dennis Murphy (tradionally a family name on the east side of the cove). Other family names
    recorded in the 1820's include Keough, O'Driscoll, Dooley and Walsh. By 1836 the Plate Cove area had a population of 73 people, who fished cod, salmon and seals.
    The biggest growth to the area was in the mid 1800's which grew to 193 people. This was due to settlers from Carlow, Waterford amd Wexford, Ireland that proceeded
    in the area due to very bad conditions back in Ireland.
  </p>
  <br>
  <p>
    In 1857 there was a small Roman Catholic school with almolst half the population engaged in cathing cod and seals inshore. The seal fishery provided
    some extra income as the communities increased in size to 266 people in 1874, but the most prosperous years followed between 1880 and 1940 (population in 1940 was 389)
    when 55 men were still engaged in the Labrador fishery. The two communities were among the most prosperous along this coastline and there were 394 residents listed
    in the 1901 census.
  </p>
  <br>
  <p>
    The consuses, directories, church, tax, fishing and voter records taken in the 1820 - 1940 timeframe indicate that the families that settled in Plate Cove were Furlong,
    Keough, Driscoll, Dooley, Moss, Murphy, Philpot(Philpott), Russell, Tracey and Braker. There was also a family of Hogan's on the back side of Plate Cove West 
    at Naked Man Beach. The family moved from the area around the early to mid 1900's with little known of why they left or where they went. The first school in the area
    was also built in Plate Cove in 1864 and for a time in the early 1900's there were a number of businesses. There were also two active sawmills until quite recently
    and this helps explain the relative posperity of Plate Cove West in particular. A total of 301 people were counted in Plate Cove West in 1981 Census and 172 were
    listed as residents of Plate Cove East. The relative decline in the fishery is indicated by the fact that only 65 residents of the two communities were listed as fishermen.
  </p>
  <br>
  <p>
    Although originally known as Plate Cove, certain records indicated the destinction between Plate Cove East and Plate Cove West. In fact all voting registers and
    census records after 1900 make this distinction. By 1850 a minor but important road was built between Plate Cove and Kings Cove allowing people easier access to
    church services, visit and trade with other communities. A school was built in Open Hall around 1850 (approximately 6 miles from Plate Cove East).
    In the mid 1960's the road between Kings Cove and Plate Cove was improved to better link various small communities. Electricity was provided in 1964 and a
    telephone system was installed. Although there was only one phone to serve the needs of the community until a party line phone service was installed in 1968 that was
    shared bwteeen family members until individual phones were installed in the mid to late 1970's.
  </p>
  <br>
  <p>
    The first postmistress of Plate Cove West was Catherine Jane Walsh.
  </p>
</article>