---
import NavBar from "../components/NavBar.jsx";
import MainHead from "../components/MainHead.astro";
import FooterBar from "../components/FooterBar.astro";
const { title } = Astro.props
import ScrollToTop from "react-scroll-to-top";
---

<html lang="en">
	<head>
		<MainHead title={title}/>
	</head>
	<body class="bg-[#023047]">
		<NavBar client:load />
		<slot />
		<ScrollToTop smooth color="#000" viewBox="0 0 150 260" style={{backgroundColor: "#FB8500", position: "fixed", right: "0", bottom: "110px", boxShadow: "none", borderRadius: "7px 0px 0px 7px"}} client:load />
		<FooterBar />
	</body>
</html>