---
import MainHead from "../components/MainHead.astro";
import FooterBar from "../components/FooterBar.astro";
import HeaderBar from "../components/HeaderBar.astro";
const { title } = Astro.props
---

<html lang="en">
	<head>
		<MainHead title={title}/>
	</head>
	<body class="bg-[#f9f9f9]">
		<HeaderBar />
		<slot />
		<FooterBar />
	</body>
</html>