---
import MainHead from "../components/MainHead.astro";
import FooterBar from "../components/FooterBar.astro";
import HeaderBar from "../components/HeaderBar.astro";
import NavBar from "../components/NavBar.astro";
import ScrollTop from "../components/ScrollToTop";
const { title } = Astro.props
---

<html lang="en">
	<head>
		<MainHead title={title}/>
	</head>
	<body class="bg-[#f4f4f4]">
		<HeaderBar />
		<NavBar />
		<slot />
		<ScrollTop client:load />
		<FooterBar />
	</body>
</html>